@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@plugin "./hero.ts";

@plugin "@iconify/tailwind4";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
	--heroui-background: oklch(0.3346 0 247.84);
	.text-primary {
		color: oklch(0.9456 0.0017 247.84);
	}
}

@theme {
	--font-inter: "Inter", sans-serif;
	--font-noto: "Noto Sans JP", sans-serif;
	--font-mixed: var(--font-inter), var(--font-noto), sans-serif;
	--text-primary: oklch(0.9456 0.0017 247.84);
}

@layer base {
	body {
		@apply font-mixed;
	}
}
