---
import WorkCard from "src/components/work_card";
import Container from "../components/container";
import Heading from "../components/heading";
import SkillCard from "../components/skill_card";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Container>
		<Heading> arca0928 </Heading>
		<div>OMUCT 2年知能情報コース</div>
	</Container>
	<Container>
		<Heading id="about" size="medium">About Me</Heading>
		<div>
			大阪公立大学工業高専2年 知能情報コース所属のarcaです。
			<br />
			現在は学友会(生徒会)でwebフロントに携わっており、Rustなども学習中です。
		</div>
	</Container>
	<Container>
		<Heading id="skills">Skills</Heading>
		<div class="flex flex-row flex-wrap">
			<!-- Default set: mdi, Icon size: 64, Icon Color: #c1bfbf -->
			<SkillCard icon="/arduino_icon.svg" title="Arduino" />
			<SkillCard icon="/astro_icon.svg" title="Astro" />
			<SkillCard icon="/python_icon.svg" title="Python" />
			<SkillCard icon="/react_icon.svg" title="React" />
			<SkillCard icon="/rust_icon.svg" title="Rust" />
			<SkillCard icon="/git_icon.svg" title="Git" />
			<SkillCard icon="/github_icon.svg" title="Github" />
		</div>
	</Container>
	<Container>
		<Heading id="works">Works</Heading>

		<div class="flex flex-row flex-wrap">
			<WorkCard
				imageUrl="/images/works/fes2024_screen_shot.png"
				title="第60回高専祭特設サイト"
				description="第60回高専祭の特設サイトです。学友会執行委員会 情報通信課のメンバーとして、フロントエンド部分を担当しました。Next.jsとReactを使用して開発しました。"
			/>
			<WorkCard 
				imageUrl="/images/works/fes2025_screen_shot.png"
				title="第61回高専祭特設サイト"
				description="第61回高専祭の特設サイトです。学友会執行委員会 情報通信課のメンバーとして、フロントエンド部分と、少しデザインを担当しました。AstroとReactを使用して開発しました。" 
			/>
			<WorkCard
				imageUrl="/images/works/nulltasker_logo.png"
				title="NullTasker"
				repoLink="https://github.com/Team-Nullpo/NullTasker"
				description="学内ハッカソンで開発した、学生向けタスク管理Webアプリです。リポジトリ管理、コードレビュー、バグ修正などを担当しました。フロントエンドはPure HTML/CSS/JavaScript、バックエンドはNode.jsを使用して開発しました。"
			/>
			<WorkCard
				imageUrl="/images/works/latex_calculator.png"
				title="LaTeX calculator"
				repoLink="https://github.com/arca0928/LaTeX-calculator"
				description="LaTeX形式で入力できる電卓アプリです。Google Colab上で動作します。PythonとSymPyを使用して開発しました。"
			/>
		</div>
	</Container>
	<div class="my-20" />
</Layout>
