---
import { Icon } from "astro-icon/components";
---

<nav class="flex z-40 w-full h-16 items-center justify-center backdrop-blur-xl backdrop-saturate-150 bg-[oklch(0.3346 0 247.84)/0.8] dark:bg-[oklch(0.1734 0 261.19)/0.8] border-b border-black/10 dark:border-white/10 fixed top-0">
    <div class="w-full max-w-5xl px-4 flex items-center">
        <a href="/" class="text-xl font-semibold">arca's Portfolio</a>
        <div class="flex lg:space-x-6 sm:space-x-4 ml-12 sm:ml-6 justify-start">
            <a href="#about" class="hover:underline">About</a>
            <a href="#skills" class="hover:underline">Skills</a>
            <a href="#works" class="hover:underline">Works</a>
        </div>
        <div class="flex justify-end space-x-4 ml-auto">
            <a href="https://github.com/arca0928">
                <Icon name="mdi:github" class="text-xl" />
            </a>
        </div>
    </div>
</nav>